.container {
    margin-top: 30px;
    display: flex;
    height: 100px;
}

.number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 30px;
}

.operations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

.operations div {
    cursor: pointer;
    transition: all .2s ease-out;
}

.selected {
    color: #EA3D26;
    transform: scale(2);
}

.button {
    padding: 13px 16px;
    color: white;
    background-color: #EA3D26;
    border-radius: 10px;
    cursor: pointer;
}

.bracket {
    font-size: 110px;
    line-height: 110px;
    margin-top: -15px;
}

.bracket-left {
    margin-left: 30px;
}

.bracket-right {
    margin-right: 30px;
}
